<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GodsViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GodsViewer.Properties.Settings>
            <setting name="ShowRasterEffect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightWallsStairs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowVisualHints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHiddenObjects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBackwardLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="ShowForwardLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecursiveEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorldSelectionIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SystemSelectionIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </GodsViewer.Properties.Settings>
    </userSettings>
</configuration>